body{
    margin: 0%;
    padding: 0;
}
#s1{
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg,rgba(243, 142, 60, 0.877),red);
}
.wave{
    position: absolute;
    bottom: 0;
    background: url("/wave.png");
    width: 100%;
    height: 143px;
    animation: animate 10s linear infinite;
}
.wave1{
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0;
    opacity: 0.4;
    width: 100%;
    height: 143px;
    background: url("./wave.png");
    opacity: 0.1s;
    animation: animate 18s linear infinite -22s;
}
.wave2{
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0;
    opacity: 0.4;
    width: 100%;
    height: 143px;
    background: url("./wave.png");
    opacity: 0.7s;
    animation: animate-reverse 15s linear infinite -22s;
}
@keyframes animate{
    0%{
        background-position: 0px;
    }
    100%{
        background-position: 1360px;
    }
}
@keyframes animate-reverse{
    0%{
        background-position: 1360px;
    }
    100%{
        background-position: 0px;
    }
}


/* wave 2 */
#s2{
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg,rgb(247, 89, 149),aqua);
}
.wave00,.wave00::before{
    position: absolute;
    bottom: 0;
    background-image: url("./wave 2.png");/*linear-gradient(150deg,#ffba61 0%,#ffe970 100%)!important; */
    background-size: cover;
    background-clip: border-box;
    width: 100%;
    height: 446px;
    object-fit: contain;
    /* animation: animate00 10s linear infinite; */
}
.wave00::before{
    opacity: 0.4;
    top: 0;
    background-color: black;
}
@keyframes animate00{
    0%{
        background-position: 0px;
    }
    100%{
        background-position: 2262px;
        rotate: 30deg;
    }
}


/* wave 3 */
#s3{
    position: relative;
    width: 100%;
    height: 100vh;
    /* background-color: chartreuse; */
}
.wave10{
    position: absolute;
    bottom:  0;
    /* background: url("./wave3.png"); */
    background-image: url("./wave3.png"),linear-gradient(-120deg, lightgreen 22%,rgb(132, 243, 128) 15%,chartreuse )!important; 
    background-size: cover;
    width: 100%;
    height: 446px;
    object-fit: contain;
    /* animation: animate00 20s linear infinite; */
}
/* .wave11{
    position: absolute;
    top: 10px;
    bottom: 20px; */
    /* background: url("./wave3.png"); */
    /* background-image: url("./wave3.png"),linear-gradient(-120deg, lightgreen 22%,rgb(132, 243, 128) 15%,chartreuse )!important;  */
    /* background-size: cover;
    width: 100%;
    height: 446px;
    object-fit: contain;
    opacity: 0.4;
     animation: animate00 28s linear infinite -4s; 
} */
/* @keyframes animate11{
    0%{
        background-position: 0px;
    }
    100%{
        background-position: 2262px;
    }
} */


/* wave4 */
#s4{
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg,rgb(150, 89, 247),aqua);
}
.wave40{
    position: absolute;
    bottom: 0;
    background-image: url("./wave4.png");/*linear-gradient(150deg,#ffba61 0%,#ffe970 100%)!important; */
    background-size: cover;
    background-clip: border-box;
    align-items: center;
    width: 100%;
    height: 500px;
    object-fit: contain;
    animation: animate4 10s linear infinite;
    image-orientation: flip;
}
.wave 40{
    
    animation: animate4 10s linear infinite -4s;
}
/* @keyframes animate4{
    0%{
        transform: translate(0%,0%);
        background-position: -170px;
    }
    50%{
        transform: translate(-30%,-10%);
        background-position: 170px;
        transform: skewX(22px);
    }
    100%{
        transform: translate(0,0);
        background-position: -170px;
    }
} */



#s5{
    position: relative;
    width: 100%;
    height: 120vh;
    background: linear-gradient(180deg,rgb(150, 89, 247),aqua);
}
.wave50{
    position: absolute;
    bottom: 0;
    background-image: url("./27240.jpg");/*linear-gradient(150deg,#8361ff 0%,#ff70ec 100%)!important; */
    background-size: cover;
    background-clip: border-box;
    align-items: center;
    width: 100%;
    height: 120vh;
    object-fit: contain;
    animation: animate4 10s linear infinite;
    image-orientation: flip;
}
.wave50::before{
    content: "";
    position: absolute;
    bottom: 0;
     background:linear-gradient(150deg,transparent,#ff70ec 75%); 
    background-size: cover;
    background-clip: border-box;
    align-items: center;
    width: 100%;
    height: 120vh;
    object-fit: contain;
    animation: animate4 10s linear infinite;
    image-orientation: flip;
}